<div data-role="header">
	<%= link_to 'Voltar', consumo_path, 'data-icon' => 'arrow-l'%>
	<h1><%= @cliente.nome %>, seu saldo é de <%= number_to_currency(@cliente.saldo, :separator => ',', :precision => 2, :unit => 'R$') %></h1>
	<a href="#" onclick="$('form#Confirmar').trigger('submit')" data-icon="check" data-theme="b" class="ui-btn-right" data-role="button" >Confirmar</a>
</div>

<div data-role="content">
	<%= form_tag(confirma_consumo_path(@cliente), :id => 'Confirmar') do %>
		<div class="ui-grid-a">
			<% @produtos.each do |produto|%>
				<div class="<%= cycle('ui-block-a', 'ui-block-b') %>">
					<ul data-inset='true' >
						<li data-role="fieldcontain">
							<label class='ui-input-text'>
								<input type="button" onclick="$(this).parent().parent().next().attr('value', parseInt($(this).parent().parent().next().attr('value')) + 1 );" data-icon="plus" value="<%= produto.nome%> <%= number_to_currency(produto.preco, :separator => ',', :precision => 2, :unit => 'R$') %>" data-inline="true" />
							</label>
							<input type="number" style="width: 50px; margin: 11px 0 0 50%;" name="consumo[<%=produto.id%>]" value="0" min="0" />
						</li>
					</ul>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
