<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <span>
        <%= @cliente.nome %>, seu saldo é de <span id="saldo-f"><%= number_to_currency(@cliente.saldo) %></span>.
      </span>
      <ul class="nav pull-left">
        <li>
          <%= link_to 'Cancelar', consumo_path, 'data-icon' => 'arrow-l', 'role' => 'button', 'class' => 'btn'%>
        </li>
        <li>
          &nbsp;
        </li>
        <li>
          <a role="button" class="btn btn-primary" id="btn-send" onClick="javascript: document.Confirmar.submit();"><font color="white"> Enviar </font> </a>
        </li>
        <li>
          <span id="total-compra">Total: R$0,00</span>
        </li>
      </ul>
      <%= render partial: 'consumo/botoes_de_recarga' %>
  </div>
</div>

<%= form_tag(confirma_consumo_path(@cliente), :id => 'Confirmar', :name => 'Confirmar') do %>
<div class="row-fluid" style="padding-top: 60px;">
  <% @produtos_cols.each do |prods| %>
    <div class="span6">
      <table class="table">
        <thead>
          <tr>
            <th class="span4"> Produto </th>
            <th class="span3"> Quantidade </th>
          </tr>
        </thead>
        <tbody>
          <% prods.each do |produto|%>
            <% if not produto.nil? %>
            <tr>
              <td> <%= produto.nome%>  <%= number_to_currency(produto.preco) %>
              </td>
              <td>
                <div class="input-prepend input-append">
                  <span class="add-on clickable"  style="cursor:pointer;" onClick="javascript:decProd(event, '<%= produto.id %>');"> - </span>
                  <input class="span4" type="tel"
                  id="prodcount-<%=produto.id%>" name="consumo[<%=produto.id%>]" value="0"
                  style="-webkit-appearance: none; margin: 0;">
                  <span class="add-on clickable"  style="cursor:pointer;" onClick="javascript:incProd(event, '<%= produto.id %>');">+</span>
                </div>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
<% end %>

<div id="curto-app"class="hidden">
  <p>Adicione o app do CurtoCartão no seu celular:</p>
  <p>Use seu leitor de QRCode para abrir a página e</p>
  <p>crei um atalho na tela inicial do seu celular :D</p>
  <img id="qrcode"/>
</div>

<%= render partial: "recargas/modal_recarga", locals: { url: dez_reais_cliente_recargas_path(@cliente), value: 10.0 } %>
<%= render partial: "recargas/modal_recarga", locals: { url: vinte_reais_cliente_recargas_path(@cliente), value: 20.0 } %>
<%= render partial: "recargas/modal_recarga", locals: { url: cinquenta_reais_cliente_recargas_path(@cliente), value: 50.0 } %>
<%= render partial: "recargas/modal_other_values" %>

<script>
var produtos = [];
var valor_total = function(p_id, p_count) {
  var total = 0;
  for (var i=0; i<produtos.length; i++) {
    var produto = produtos[i];
    if (produto.id == p_id) {
      produto.quantidade = p_count;
    }
    total += (produto.preco * produto.quantidade);
  }
  $("#total-compra").html("&nbsp;&nbsp;Total: R$"+total.toFixed(2));
  return total;
};

<% @produtos_cols.each do |prods| %>
  <% prods.each do |produto|%>
    <% if not produto.nil? %>
      produtos.push({id: <%=produto.id%>, preco: <%=produto.preco%>, quantidade: 0});
      $("#prodcount-<%=produto.id%>").keyup(function(){
        var count = parseInt($(this).val());
        if (isNaN(count)) {
          $(this).val("");
          count = 0;
        } else {
          $(this).val(count);
        }
        var total = valor_total(<%=produto.id%>, count);

      });
    <% end %>
  <% end %>
<% end %>

var incProd = function (e, prod_id) {
  e.preventDefault();
  var divname = "#prodcount-"+prod_id;
  var count = isNaN(parseInt($(divname).val())) ? 0 : parseInt($(divname).val())
  count += 1;
  $(divname).val(count);
  if (count > -1) {
    $(divname).css('background-color', 'white');
    $(divname).css('color', 'black');
  };
  var total = valor_total(prod_id, count);
};

var decProd = function (e, prod_id) {
  e.preventDefault();
  var divname = "#prodcount-"+prod_id;
  var count = isNaN(parseInt($(divname).val())) ? 0 : parseInt($(divname).val())
  count -= 1;
  $(divname).val(count);
  if (count < 0) {
    $(divname).css('background-color', 'red');
    $(divname).css('color', 'white');
  };
  var total = valor_total(prod_id, count);
};

var updateCart = function (e, count, price) {

};
$(document).ready(function($){
  var updateBalance = function(val) {
    $("#saldo-f").html(val);
  };
  var mobilecheck = function() {
    var check = false;
    (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4)))check = true})(navigator.userAgent||navigator.vendor||window.opera);
    return check;
  }

  if(!mobilecheck()){
    var clientURL = encodeURIComponent(window.location.href);
    var qrcodegenURL = 'http://api.qrserver.com/v1/create-qr-code/?data=' + clientURL + '&size=150x150';

    $("#curto-app").removeClass("hidden");
    $("#qrcode").attr("src", qrcodegenURL);
  }

  $.ajaxSetup({
    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
  });
  var rechargeRequested = false;
  $("#submit-recarga").click(function(e){
    e.preventDefault();

    if (rechargeRequested) { return; }

    $("#saldo-alert").show();
    rechargeRequested = true;


    $.post('<%= url_for( :controller => 'contrib', :action=> 'confirma_recarga' ) %>',
          { "valor_recarga": $(".valrec").val() },
      function(data){
        updateBalance(data.saldo);
        rechargeRequested = false;
        $("#modalRecarga").modal("hide");
        $("#saldo-alert").hide();
        $(".valrec").val('')
      }).error(function(x, y, z) {
        console.log('Erro na recarga:', x, y, z)
        $("#saldo-alert").hide();
        rechargeRequested = false;
        alert("Ocorreu um erro durante a tentativa de recarga. Por favor, tente novamente");
      });
  });
});
</script>
