
<%= csrf_meta_tag %>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        <%= @cliente.nome %>, seu saldo é de <font id="saldo-f"><%= number_to_currency(@cliente.saldo, :separator => ',', :precision => 2, :unit => 'R$') %></font>.
      </a>
      <ul class="nav pull-left">
        <li>
          <%= link_to 'Cancelar', consumo_path, 'data-icon' => 'arrow-l', 'role' => 'button', 'class' => 'btn'%>
        </li>
        <li>
          &nbsp;
        </li>
        <li>
          <a role="button" class="btn btn-primary" id="btn-send" onClick="javascript: document.Confirmar.submit();"><font color="white"> Enviar </font> </a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="#modalRecarga" role="button" class="btn" data-toggle="modal" id="recarga-btn">Recarga</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<%= form_tag(confirma_consumo_path(@cliente), :id => 'Confirmar', :name => 'Confirmar') do %>
<div class="row-fluid" style="padding-top: 60px;">
        <% @produtos_cols.each do |prods| %>
<div class="span6">
      <table class="table">
        <thead>
          <tr>
            <th class="span4"> Produto </th>
            <th class="span3"> Quantidade </th>
          </tr>
        </thead>
        <tbody>
          <% prods.each do |produto|%>
        <% if not produto.nil? %>
          <tr>
              <td> <%= produto.nome%>  <%= number_to_currency(produto.preco, :separator => ',', :precision => 2, :unit => 'R$') %>
              </td>
              <td> 
                <div class="input-prepend input-append">
                  <span class="add-on clickable"  style="cursor:pointer;" onClick="javascript:decProd(event, '<%= produto.id %>');"> - </span>
                  <input class="span4" type="tel" 
                    id="prodcount-<%=produto.id%>" name="consumo[<%=produto.id%>]" value="0"
                    style="-webkit-appearance: none; margin: 0;">
                  <span class="add-on clickable"  style="cursor:pointer;" onClick="javascript:incProd(event, '<%= produto.id %>');">+</span>
                </div>
  </td>
            </tr>
    <% end %>
            <% end %>
        </tbody>
      </table>
      </div>
          <% end %>


</div>
<% end %>


<div id="modalRecarga" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-info hide" id="saldo-alert">
      Atualizando saldo, por favor aguarde...
    </div>
    <p> Valor da recarga
                <div class="input-prepend input-append">
                  <span class="add-on">$</span>
                  <input class="span4 valrec" id="appendedPrependedInput" 
                    type="tel" placeholder="00" 
                    name="valor_recarga" autofocus>
                  <span class="add-on">.00</span>
                </div>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
    <button type="submit" class="btn btn-primary" id="submit-recarga">Efetuar Recarga</button>
  </div>
</div>

<script>
  var incProd = function (e, prod_id) {
    e.preventDefault();
    var divname = "#prodcount-"+prod_id;
    var count = isNaN(parseInt($(divname).val())) ? 0 : parseInt($(divname).val())
    count += 1;
      $(divname).val(count);
  };

  var decProd = function (e, prod_id) {
    e.preventDefault();
    var divname = "#prodcount-"+prod_id;
    var count = isNaN(parseInt($(divname).val())) ? 0 : parseInt($(divname).val())
    count -= 1;
    $(divname).val(count);
  };
jQuery(document).ready(function($){
  var updateBalance = function(val) {
    $("#saldo-f").html(val);
  };

  $.ajaxSetup({
    headers: {'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')}
  });
  var rechargeRequested = false;
  $("#submit-recarga").click(function(e){
    if (rechargeRequested) {
      return;
    }
    $("#saldo-alert").show();
    rechargeRequested = true;
    e.preventDefault();
    $.post('<%= url_for( :controller => 'contrib', :action=> 'confirma_recarga' ) %>', 
           { "valor_recarga": $(".valrec").val() }, 
           function(data){
             updateBalance(data.saldo);
             rechargeRequested = false;
             $("#saldo-alert").hide();
             $("#modalRecarga").modal("hide");
             $(".valrec").val('')
           }).error(function(x, y, z) {
             console.log('Erro na recarga:', x, y, z)
             $("#saldo-alert").hide();
             rechargeRequested = false;
             alert("Ocorreu um erro durante a tentativa de recarga. Por favor, tente novamente"); 
           });
  });
});
</script>
