<%= form_tag(relatorio_hora_contador_path(:data => params[:data]), :method => "get") do %>
  <%= select_tag("hora_inicial", options_for_select(@array_horas) , :include_blank => false) %>
  <%= select_tag("hora_final", options_for_select(@array_horas) , :include_blank => false) %>
  <br/>
  <%= submit_tag("Gerar relatório por hora") %>
<% end %>


<h1>Consumos do dia <%= @data %></h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Valor</th>
    <th></th>
  </tr>
<% soma_dia = 0 %>
<% @resumo.each do |consumo| %>
	<% produto = Produto.find(consumo.produto_id) %>
	<% soma_dia += produto.preco * consumo.quantidade unless produto.preco < 0 %>
  <tr>
    <td><%= produto.nome %></td>
    <td style="text-align: center;"><%= consumo.quantidade %></td>
    <td>R$ <%= produto.preco * consumo.quantidade %></td>
    <td></td>
  </tr>
<% end %>
  <tr>
    <td> Recargas </td>
    <td style="text-align: center;"> <%= @recarga_total[:quantidade] %>  </td>
    <td> <%= number_to_currency(@recarga_total[:valor], :separator => ',', :precision => 2, :unit => 'R$') %></td>
    <td> </td>
  <tr>
</table>
<h2>receita do dia: R$ <%= soma_dia %> </h2>

<br />

<%= link_to 'Voltar', contador_path %>

<h1>Resumo por cliente</h1>

<table>
  <tr>
  	<th>Cliente</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th></th>
  </tr>

<% @resumo_cliente.each do |consumo| %>
  <tr>
    <td><%= Cliente.find(consumo.cliente_id).nome %></td>
    <td><%= Produto.find(consumo.produto_id).nome %></td>
    <td style="text-align: center;"><%= consumo.quantidade %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />


<h1>Detalhes do dia <%= @data %></h1>

<table>
  <tr>
  	<th>Cliente</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Hora</th>
    <th></th>
  </tr>

<% @consumos.each do |consumo| %>
  <tr>
  	<td><%= Cliente.find(consumo.cliente_id).nome %></td>
    <td><%= Produto.find(consumo.produto_id).nome %></td>
    <td style="text-align: center;"><%= consumo.quantidade %></td>
    <td><%= consumo.created_at.strftime("%H:%M") %></td>
    <td></td>
  </tr>
<% end %>
</table>

<h1>Recargas do dia <%= @data %></h1>
<table>
  <tr>
    <th>Cliente</th>
    <th>Valor</th>
    <th>Hora</th>
  </tr>

<% @recargas.each do |recarga| %>
  <tr>
    <td><%= Cliente.find(recarga.cliente_id).nome %></td>
	<td style="text-align: center;"><%= number_to_currency(recarga.valor, :separator => ',', :precision => 2, :unit => 'R$') %></td>
    <td><%= recarga.created_at.strftime("%H:%M") %></td>
  </tr>
<% end %>
</table?
<br />
